* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  /* font-family: 'Open Sans', sans-serif; */
}

:root {
  --pri-color: #1e0432;
  --sec-color: #d4236d;
}

::selection {
  background: #d4236da4;
  color: #ffffff;
}

h4 {
  color: var(--sec-color);
  font-size: 60px;
  padding: 30px;
  margin-bottom: 40px;
  font-weight: 400;
}

li {
  display: table-cell;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.navbar-toggler {
  border-width: 0px;
  border-color: var(--sec-color) !important;
  box-shadow: none;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url(src/hamburger.png);
}

.navbar-toggler:hover {
  box-shadow: none;
  border-width: 1.5px;
}

li a {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #fff !important;
  text-decoration: none;
  /* letter-spacing: 0.05em; */
  display: inline-block;
  position: relative;
}

li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li a:hover:after {
  width: 100%;
  left: 0;
}

.footer a:hover {
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.active,
.footer a {
  color: var(--sec-color) !important;
}

.active::after {
  background: var(--sec-color) !important;
}

.bg-var {
  background-color: var(--pri-color);
}

h1 {
  font-weight: 700;
  font-size: 50px;
}

p {
  font-size: 22px;
}

body {
  background-color: var(--pri-color);
  padding-top: 110px;
}

.h1 {
  font-size: 100px;
  text-shadow: 8px 8px 1px var(--sec-color);
  font-weight: 700;
}

.md-ms-5 {
  margin-left: 3rem !important;
}

@media (max-width: 991px) {
  .h1s {
    text-align: center;
  }
  .md-ms-5 {
    margin-left: 0 !important;
  }

  .p-6 {
    padding: 30px 50px;
  }

  ul {
    text-align: center;
  }

  h2,
  p {
    text-align: center;
  }

  .small {
    justify-content: space-evenly;
  }
}

@media (max-width: 576px) {
  .h1 {
    font-size: 55px;
    text-shadow: 5px 5px 1px var(--sec-color);
  }
}

/* .h1s:hover {
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.525em;
  cursor: pointer;
} */

.img-fluid {
  display: flex;
  margin: 0 auto;
}

button {
  background: var(--sec-color);
  box-shadow: 6px 6px 0px #ffffff;
  border-radius: 4px;
  border: none;
  padding: 14px 25px;
  font-weight: 400;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 10px 10px 0px #ffffff;
}

a {
  text-decoration: none;
  color: white;
  background-color: none;
}

a:hover {
  color: #ffffff;
}

.small a {
  margin-top: 30px;
  padding: 8px 16px;
  border: 1.5px solid var(--sec-color);
  border-radius: 4px;
  font-size: 16px;
  min-width: 158.4px !important;
}

.small a:hover {
  background-color: var(--sec-color);
  transition: all 0.3s ease-in-out;
}

h2 {
  color: var(--sec-color);
  text-shadow: 1px 1px 0px white;
  font-size: 30px;
  margin-bottom: 25px;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  margin: 10px;
}

.btn-2 {
  padding: 10px 40px !important;
}

.mb-6 {
  margin-bottom: 10rem !important;
}

.btn {
  margin-top: 30px;
  padding: 8px 16px;
  border: 1.5px solid var(--sec-color);
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  box-shadow: none;
  background-color: var(--sec-color);
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  color: #ffffff;
}

.color-var {
  border-color: var(--sec-color) !important;
}

p a {
  color: var(--sec-color);
}

.text-center a img:hover {
  border: 2px solid var(--sec-color);
  border-radius: 50%;
}
