* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  /* font-family: 'Open Sans', sans-serif; */
}

:root {
  --pri-color: #1e0432;
  --sec-color: #d4236d;
}

::selection {
  background: #d4236da4;
  color: #ffffff;
}

body {
  background-color: var(--pri-color);
  padding-top: 110px;
}

.h1 {
  font-size: 100px;
  text-shadow: 8px 8px 1px var(--sec-color);
  font-weight: 700;
}

.md-ms-5 {
  margin-left: 3rem !important;
}

@media (max-width: 991px) {
  .h1s {
    text-align: center;
  }
  .md-ms-5 {
    margin-left: 0 !important;
  }

  .p-6 {
    padding: 30px 50px;
  }

  h2,
  p {
    text-align: center;
  }

  .small {
    justify-content: space-evenly;
  }
}

@media (max-width: 576px) {
  .h1 {
    font-size: 55px;
    text-shadow: 5px 5px 1px var(--sec-color);
  }
}

/* .h1s:hover {
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.525em;
  cursor: pointer;
} */

.img-fluid {
  display: flex;
  margin: 0 auto;
}

button {
  background: var(--sec-color);
  box-shadow: 6px 6px 0px #ffffff;
  border-radius: 4px;
  border: none;
  padding: 14px 25px;
  font-weight: 400;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 10px 10px 0px #ffffff;
}

a {
  text-decoration: none;
  color: white;
  background-color: none;
}

a:hover {
  color: #ffffff;
}

.small a {
  margin-top: 30px;
  padding: 8px 16px;
  border: 1.5px solid var(--sec-color);
  border-radius: 4px;
  font-size: 16px;
  min-width: 158.4px !important;
}

.small a:hover {
  background-color: var(--sec-color);
  transition: all 0.3s ease-in-out;
}

h2 {
  color: var(--sec-color);
  text-shadow: 1px 1px 0px white;
  font-size: 30px;
  margin-bottom: 25px;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  margin: 10px;
}

.btn-2 {
  padding: 10px 40px !important;
}

.mb-6 {
  margin-bottom: 10rem !important;
}
